%h1 平均データ

%ul
  %li
    %a{href: '/'} トップページに戻る

%dl
  %dt 更新日時
  %dd= updated_at
%dl
  %dt 集計対象人数
  %dd= player_num

%h2 プロフィール
%table
  %tbody
    %tr
      %td プレー数平均
      %td= player_average['play_count']
    %tr
      %td 総スタンプ数平均
      %td= player_average['stamp']
    %tr
      %td 総おにぎり数平均
      %td= player_average['onigiri']

%h2 楽曲データ
%p
  PLAYEDは集計対象となったプレー人数を表します。

%table#score_data
  %colgroup.music_name{span: 1}
  %colgroup.basic{span: 3}
  %colgroup.medium{span: 3}
  %colgroup.hard{span: 3}
  %thead
    %tr
      %th{rowspan: 2} 楽曲名
      %th{colspan: 3} BASIC
      %th{colspan: 3} MEDIUM
      %th{colspan: 3} HARD
    %tr
      %th AR
      %th MISS
      %th PLAYED
      %th AR
      %th MISS
      %th PLAYED
      %th AR
      %th MISS
      %th PLAYED
  %tbody
    - miss_format = '%.1f'
    - ar_format = '%.2f'
    - score_average.each do |name, score|
      %tr
        %td= CGI.escapeHTML(name)
        - if score['basic']['count'] != 0
          %td== #{format(ar_format, score['basic']['achieve'])}%
          - if score['basic']['miss'] == 0
            %td.fullcombo FC
          - elsif score['basic']['miss'] <= 1.0
            %td.miss1= format(miss_format, score['basic']['miss'])
          - elsif score['basic']['miss'] <= 2.0
            %td.miss2= format(miss_format, score['basic']['miss'])
          - else
            %td= format(miss_format, score['basic']['miss'])
          %td= score['basic']['count']
        - else
          %td.noplay{colspan: 3} N/A
        - if score['medium']['count'] != 0
          %td== #{format(ar_format, score['medium']['achieve'])}%
          - if score['medium']['miss'] == 0
            %td.fullcombo FC
          - elsif score['medium']['miss'] <= 1.0
            %td.miss1= format(miss_format, score['medium']['miss'])
          - elsif score['medium']['miss'] <= 2.0
            %td.miss2= format(miss_format, score['medium']['miss'])
          - else
            %td= format(miss_format, score['medium']['miss'])
          %td= score['medium']['count']
        - else
          %td.noplay{colspan: 3} N/A
        - if score['hard']['count'] != 0
          %td== #{format(ar_format, score['hard']['achieve'])}%
          - if score['hard']['miss'] == 0
            %td.fullcombo FC
          - elsif score['hard']['miss'] <= 1.0
            %td.miss1= format(miss_format, score['hard']['miss'])
          - elsif score['hard']['miss'] <= 2.0
            %td.miss2= format(miss_format, score['hard']['miss'])
          - else
            %td= format(miss_format, score['hard']['miss'])
          %td= score['hard']['count']
        - else
          %td.noplay{colspan: 3} N/A
%p== 計 #{score_average.size} 曲
