#top_title
  %h1 Refixative
  %p REFLEC BEAT colette score tool

%h2 NOTE
%p
  現在Refixativeは開発中で、不具合や未完成な部分が山積している状態です。データのリセット等が行われる可能性もあります。あくまでテストとして公開しているという点をご理解ください。
%p
  使ってみてバグを見つけた場合や、機能の要望に関してはページ下部に連絡先を記載してありますので、そちらにお願いします。
%p
  <strong>現在プロフィールを一部非公開にすることは対応していません。</strong>GATEのページにて非公開に設定している情報でも、Refixativeに登録すると全て公開されます。ご注意ください。

%h2 Refixativeとは
%p
  Refixative（りふぃきさちーふ）はREFLEC BEAT coletteのスコアデータを記録・集計するツールです。過去の自分のデータや他の登録しているプレイヤーとのスコア比較が可能（になる予定）です。

%h2 スコア登録
%p スコアの登録は登録フォームから行います。
#link_register
  %p
    %a{href: url('/register')} 登録フォーム

%h2 使い方
%h3 登録
%p
  Refixativeへのスコア登録は、一旦e-AMUSEMENT GATEのページをダウンロードして頂き、それをこちらにアップロードすることで行われます。
%p
  REFLEC BEAT coletteでは、GATEにおける楽曲データの閲覧に課金（月額315円）が必要です。<strong>Refixative自体は無料で利用できますが、GATEへの課金は必要ですのでご了承ください。</strong>
%ol
  %li
    %a{href: url('http://p.eagate.573.jp/game/reflec/colette/index.html')} e-AMUSEMENT GATEのcolette公式ページ
    に移動します。（ログインしていない場合はログインしてください）
  %li
    「プロフィール」ページと「楽曲データ」のページを保存します。
    %br
    例えばChromeの場合、ページの空白部分で右クリックして「名前をつけて保存」をクリックすると保存できます。
    %br
    保存形式は「HTMLのみ」にしてください。「完全」でも動作しますが、画像ファイルなど使わないファイルを余計にダウンロードすることになってしまいます。
  %li
    上のリンク先の登録フォームから、保存した２つのHTMLファイルをアップロードします。
  %li
    正常に処理されると確認画面に移動します。表示されたプロフィール、楽曲データに間違いや異常がないか確認して、登録してください。
  %li
    登録完了ページに移動したら登録作業は終了です。
%h3 データ閲覧
%p
  プレイヤーデータは
  %em= url('/player/(id)')
  にアクセスすると表示されます。"(id)"には表示したいユーザーのプレイヤーIDを指定します。
%p
  例えば作者のプレイヤーデータは
  %a{href: url('/player/001714')}= url('/player/001714')
  です。IDの先頭にある0はあってもなくても構いません。

%h2 今後の予定
%ul
  %li 履歴の表示
  %li スコアのソート
  %li 統計情報表示
  %li 非公開情報の選択
%h3 現在把握している不具合
%p 不具合の報告を受けたものの未確認、再現しない場合は注釈付きでリストに含めています。
%ul
  %li スコアソートがおかしい（一時的に無効化）
  %li 登録時に楽曲が表示されないことがある（現時点で再現せず。調査中）

%h2 その他
%h3 何かメッセージが出たら
%h4 Internal Server Error、その他
%p
  プログラムに不具合があると考えられます。表示されたメッセージと、メッセージが出た日時と、どんな操作を行ったか（スコアの登録をした、プレイヤーデータの閲覧をした、などでOKです）、環境（OSとブラウザ）を添えて下記連絡先までご連絡ください。
%h3 動作環境について
%p
  表示の確認はMac OS X版Google Chrome最新安定版にて行っております。この他、基本的にはHTML5/CSS3に対応していれば問題なく表示出来るものと考えられます。どこかおかしな点がありましたらOSとブラウザを明記の上ご連絡ください。

%h3 連絡先
%p
  バグ報告、意見等はTwitterで受け付けています。<a href='https://twitter.com/maytheplic'>@maytheplic</a>にどうぞ。また、ハッシュタグ<a href="https://twitter.com/search?q=%23Refixative">#Refixative</a>も見ております。
%p
  またRefixativeに関する最新情報は、上記アカウントからハッシュタグをつけてつぶやきます。新機能の告知やサーバーダウンなどについては全てTwitter上で発信します。普段のつぶやきはあまりにも雑多で、かつ多いのでハッシュタグをチェックすることをオススメします。

%h3 現在の状態
%dl
  %dt 登録プレイヤー数
  %dd= @player_num
  %dt スコア登録総数
  %dd= @scoreset_num

%h2 開発者向けの情報
%h3 ソースコード
%p
  このプログラムのソースコードは<a href='https://github.com'>GitHub</a>上で、MITライセンスのもと公開されています。
%p リポジトリ: <a href='https://github.com/mayth/refixative'>mayth/refixative</a>
%p.note
  実際に稼働しているバージョンと、GitHubで公開されているバージョンは異なることがあります。（フッターのrev.表示が現在稼働しているバージョンのコミットを表しています）

%h3 API
%p
  APIというほどでもありませんが、プレイヤーページはJSON形式で出力することが可能です。クエリパラメータとして<code>format=json</code>を追加してください。例えば次のようなURLになります:
  %a{href: url('/player/001714?format=json')}= url('/player/001714?format=json')
%p
  JSON形式で出力する場合はさらにfilteredを受け取ります。例えば次のようになります:
  %a{href: url('/player/001714?format=json&filtered=true')}= url('/player/001714?format=json&filtered=true')
%p
  <code>filtered=1</code>または<code>filtered=true</code>とすると、スコアデータが存在しない楽曲は出力データから除外されます。<code>filtered=0</code>または<code>filtered=false</code>、およびパラメータを指定しない場合、スコアデータが存在しない曲も全て出力されます。
