#top_title
  %h1 Refixative
  %p REFLEC BEAT colette score tool

%h2#about Refixativeとは
%p
  Refixative（りふぃきさちーふ）はREFLEC BEAT coletteのスコアデータを記録・集計するツールです。過去の自分のデータや他の登録しているプレイヤーとのスコア比較が可能（になる予定）です。

%h2#groovin Refixative groovin'!!のご案内
%p
  groovin'!!対応のサイトを公開しました。こちらのRefixativeのメンテナンスは今後行われません。内部的に一新されており、機能面ではこちらのRefixativeよりも現状劣っていますが、新しいRefixativeもよろしくお願いします。
  %a{href: 'http://groovin.aquarite.info'} Refixative groovin'!!

%h2#registration スコア登録
#link_register
  %p
    %a{href: url('/register')} 登録フォームへ

%h2#information お知らせ
#info_static
  %p
    Refixativeは現在ベータ版です。不具合や未完成の機能があります。現時点で追加を予定している機能や、対処予定の不具合は<a href="#todo">今後の予定</a>をご覧ください。
  %p
    <strong>現在プロフィールを一部非公開にすることは対応していません。</strong>GATEのページにて非公開に設定している情報でも、Refixativeに登録すると全て公開されます。ご注意ください。
  %p
    Refixativeに関するお知らせや機能追加等のアナウンスはTwitter上にて<a href="https://twitter.com/search?q=%23Refixative">#Refixative</a>をつけて行っています。不具合の報告や機能要望等もこちらのハッシュタグをご利用ください。
  %p
    他のプレイヤーとのスコア比較機能を実装しました。使い方は<a href="#compare">スコア比較</a>をご覧ください。

#info_tweets
  <a class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=%23Refixative" data-widget-id="280103969865465856">#Refixative に関するツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


%h2#how_to_use 使い方
%h3#how_to_register 登録
%p
  Refixativeへのスコア登録は、一旦e-AMUSEMENT GATEのページをダウンロードして頂き、それをこちらにアップロードすることで行われます。
%p
  REFLEC BEAT coletteでは、GATEにおける楽曲データの閲覧に課金（月額315円）が必要です。<strong>Refixative自体は無料で利用できますが、GATEへの課金は必要ですのでご了承ください。</strong>
%ol
  %li
    %a{href: url('http://p.eagate.573.jp/game/reflec/colette/index.html')} e-AMUSEMENT GATEのcolette公式ページ
    に移動します。（ログインしていない場合はログインしてください）
  %li
    「プロフィール」ページと「楽曲データ」のページを保存します。
    %br
    例えばChromeの場合、ページの空白部分で右クリックして「名前をつけて保存」をクリックすると保存できます。
    %br
    保存形式は「HTMLのみ」にしてください。「完全」でも動作しますが、画像ファイルなど使わないファイルを余計にダウンロードすることになってしまいます。
  %li
    上のリンク先の登録フォームから、保存した２つのHTMLファイルをアップロードします。
  %li
    正常に処理されると確認画面に移動します。表示されたプロフィール、楽曲データに間違いや異常がないか確認して、登録してください。
  %li
    登録完了ページに移動したら登録作業は終了です。
%h3#how_to_show データ閲覧
%p
  プレイヤーデータは
  %em= url('/player/(id)')
  にアクセスすると表示されます。"(id)"には表示したいユーザーのプレイヤーIDを指定します。
%p
  例えば作者のプレイヤーデータは
  %a{href: url('/player/001714')}= url('/player/001714')
  です。IDの先頭にある0はあってもなくても構いません。
%p
  なお、IDに0を指定すると平均データのページに転送されます。

%h4#compare スコア比較
%p
  他のプレイヤーとのスコア比較をする場合は、プレイヤーページのスコアデータのすぐ上にあるテキストボックスに比較対象となるプレイヤーのIDを入力して送信してください。指定が無い場合は平均データを元にしたプレイヤーデータと比較します。
%p
  特定のプレイヤーとスコア比較をした状態でリンクをしたい場合や、ブックマークを行う場合、URLの最後に"?compare_with=(id)"を追加してください。例えば作者のスコアと、プレイヤーID 012345のプレイヤーと比較をしている状態のURLは次のようになります。
%p
  %em= url('/player/001714?compare_with=012345')

%h3#average_data 平均データ
%p
  平均データは次のURLから見ることができます。
  %br
  %strong
    %a{href: url('/player/average')}= url('/player/average')
%p
  なお、プレイヤーデータで比較に用いられる平均データは上記URLから閲覧できる平均データと次の点で異なります。
%ul
  %li ARに関しては小数第二位で四捨五入しています。
  %li ミスカウントに関しては小数第一位で四捨五入しています。

%h3#team_data チーム
%h4 一覧
%p
  チーム一覧は次のURLから見ることができます:
  %br
  %strong
    %a{href: url('/teams')}= url('/teams')
%h4 詳細
%p
  チームの詳細は
  %em= url('/team/(id)')
  で見ることができます。例えばチームID: 1（ウィザウチュナイ）の詳細は次のURLで見られます:
  %a{href: url('/team/1')}= url('/team/1')

%h2#todo 今後の予定
%ul
  %li 履歴の表示
  %li 統計情報表示（対平均成績のみ実装済み）
  %li 非公開情報の選択
%h3#todo_bugs 現在把握している不具合
%p 不具合の報告を受けたものの未確認、再現しない場合は注釈付きでリストに含めています。
%ul
  %li 登録時に楽曲が表示されないことがある（現時点で再現せず。調査中）

%h2#address 連絡先
%p
  バグ報告、意見等はTwitterで受け付けています。<a href='https://twitter.com/maytheplic'>@maytheplic</a>にどうぞ。また、ハッシュタグ<a href="https://twitter.com/search?q=%23Refixative">#Refixative</a>もご利用ください（随時確認しております）。

%h2#other_notes その他
%h3 注意点
%p
  Refixativeは随時更新されます。更新作業に伴い、スコアデータのリセットや、一時的な公開停止が予告なく行われることがあります。

%h3 何かメッセージが出たら
%p
  メッセージに操作の案内があれば、まずはそれに従ってください。何も操作の案内がなかったり、英語のメッセージだけが表示されていたりする場合、プログラムに不具合があると考えられます。表示されたメッセージと、メッセージが出た日時と、どんな操作を行ったか（スコアの登録をした、プレイヤーデータの閲覧をした、などでOKです）、環境（OSとブラウザ）を添えてご連絡ください。

%h3 動作環境について
%p
  表示の確認はMac OS X版Google Chrome最新安定版にて行っております。この他、基本的にはHTML5/CSS3およびJavaScriptに対応していれば問題なく表示出来るものと考えられます。どこかおかしな点がありましたらOSとブラウザを明記の上ご連絡ください。
%p
  プレイヤーページではJavaScriptを用いてデータを表示しています。プレイヤーデータをご覧になる際はJavaScriptを有効にしてください。

%h3#stats 現在の状態
%dl
  %dt 登録プレイヤー数
  %dd= @player_num
  %dt スコア登録総数
  %dd= @scoreset_num

%h2#for_developer 開発者向けの情報
%h3 ソースコード
%p
  このプログラムのソースコードは<a href='https://github.com'>GitHub</a>上で、MITライセンスのもと公開されています。
%p リポジトリ: <a href='https://github.com/mayth/refixative'>mayth/refixative</a>
%p.note
  実際に稼働しているバージョンと、GitHubで公開されているバージョンは異なることがあります。（フッターのrev.表示が現在稼働しているバージョンのコミットを表しています）

%h3 API
%p
  APIというほどでもありませんが、プレイヤーページと平均データはJSON形式で出力することが可能です。URLの最後に<code>.json</code>を追加してください。例えば次のようなURLになります:
  %br
  %a{href: url('/player/001714.json')}= url('/player/001714.json')
  %br
  %a{href: url('/player/average.json')}= url('/player/average.json')
%p
  もしくはクエリパラメータとして<code>format=json</code>を渡してください。
%p
  プレイヤーページをJSON形式で出力する場合はクエリパラメータとしてfilteredを受け取ります。例えば次のようになります:
  %a{href: url('/player/001714.json?filtered=true')}= url('/player/001714.json?filtered=true')
%p
  <code>filtered=1</code>または<code>filtered=true</code>とすると、全ての難易度のスコアデータが存在しない楽曲は出力データから除外されます。<code>filtered=0</code>または<code>filtered=false</code>、およびパラメータを指定しない場合、スコアデータが存在しない曲も全て出力されます。
