%h2 Player Data

%dl
  %dt 最終更新日時
  %dd= @last_updated_at

%h3 Profile
%table
  %tbody
    %tr
      %td ID
      %td= @prof.id.to_s.rjust(6, '0')
    %tr
      %td 通り名
      %td= @prof.pseudonym
    %tr
      %td プレイヤー名
      %td= @prof.name
    %tr
      %td コメント
      %td= @prof.comment
    %tr
      %td チームID
      %td= @prof.team.id
    %tr
      %td チーム名
      %td= @prof.team.name
    %tr
      %td プレー数
      %td= @prof.play_count
    %tr
      %td 総スタンプ数
      %td= @prof.stamp
    %tr
      %td 総おにぎり数
      %td= @prof.onigiri
    %tr
      %td 最終プレー日時
      %td= @prof.last_play_date
    %tr
      %td 最終プレー店舗
      %td= @prof.last_play_shop

%table
  %thead
    %tr
      %th{rowspan: 2} 楽曲名
      %th{colspan: 2} BASIC
      %th{colspan: 2} MEDIUM
      %th{colspan: 2} HARD
    %tr
      %th AR
      %th MISS
      %th AR
      %th MISS
      %th AR
      %th MISS
  %tbody
    - @song.each do |name, score|
      %tr
        %td= CGI.escapeHTML(name)
        - if score[:basic]
          %td== #{score[:basic][:achieve]}%
          - if score[:basic][:miss] == 0
            %td FC
          - else
            %td= score[:basic][:miss]
        - else
          %td{colspan: 2} NO PLAY
        - if score[:medium]
          %td== #{score[:medium][:achieve]}%
          - if score[:medium][:miss] == 0
            %td FC
          - else
            %td= score[:medium][:miss]
        - else
          %td{colspan: 2} NO PLAY
        - if score[:hard]
          %td== #{score[:hard][:achieve]}%
          - if score[:hard][:miss] == 0
            %td FC
          - else
            %td= score[:hard][:miss]
        - else
          %td{colspan: 2} NO PLAY
%p== total #{@song.size} songs.
