%script{src: '/script/jshashtable.js'}
%script{src: '/script/jquery.numberformatter.min.js'}
%script{src: '/script/player_score_sorter.js'}
%h1== プレイヤー 《#{@prof.name}》

%ul
  %li
    %a{href: url('/')} トップページに戻る
  %li
    %a{href: url('/register')} 登録フォームへ

%dl
  %dt 最終更新日時
  %dd= @last_updated_at

%h2 プロフィール
%table
  %tbody
    %tr
      %td ID
      %td#player_id= @prof.id.to_s.rjust(6, '0')
    %tr
      %td 通り名
      %td= @prof.pseudonym
    %tr
      %td プレイヤー名
      %td= @prof.name
    %tr
      %td コメント
      %td= @prof.comment
    - if @prof.team
      %tr
        %td チームID
        %td
          = @prof.team.id
          (
          %a{href: url("/team/#{@prof.team.id}")}> チーム詳細
          )
      %tr
        %td チーム名
        %td= @prof.team.name
    - else
      %tr
        %td チーム
        %td 所属なし
    %tr
      %td プレー数
      %td= @prof.play_count
    %tr
      %td 総スタンプ数
      %td= @prof.stamp
    %tr
      %td 総おにぎり数
      %td= @prof.onigiri
    %tr
      %td 最終プレー日時
      %td= @prof.last_play_date
    %tr
      %td 最終プレー店舗
      %td= @prof.last_play_shop

%h2 楽曲データ
%h3 対平均勝敗
%table#vs_ave_data
  %colgroup.vs_for{span: 1}
  %colgroup.basic{span: 2}
  %colgroup.medium{span: 2}
  %colgroup.hard{span: 2}
  %thead
    %tr
      %th{rowspan: 2} vs.
      %th{colspan: 2} BASIC
      %th{colspan: 2} MEDIUM
      %th{colspan: 2} HARD
      %th{colspan: 2} Total
    %tr
      %th AR
      %th MISS
      %th AR
      %th MISS
      %th AR
      %th MISS
      %th AR
      %th MISS
  %tbody
    %tr.vs_ave_win
      %td Win
      %td= @stat[:difficulties][:basic][:achieve_vs_ave][:win]
      %td= @stat[:difficulties][:basic][:miss_vs_ave][:win]
      %td= @stat[:difficulties][:medium][:achieve_vs_ave][:win]
      %td= @stat[:difficulties][:medium][:miss_vs_ave][:win]
      %td= @stat[:difficulties][:hard][:achieve_vs_ave][:win]
      %td= @stat[:difficulties][:hard][:miss_vs_ave][:win]
      %td= @stat[:difficulties].map {|diff, v| v[:achieve_vs_ave][:win]}.inject(:+)
      %td= @stat[:difficulties].map {|diff, v| v[:miss_vs_ave][:win]}.inject(:+)
    %tr.vs_ave_draw
      %td Draw
      %td= @stat[:difficulties][:basic][:achieve_vs_ave][:draw]
      %td= @stat[:difficulties][:basic][:miss_vs_ave][:draw]
      %td= @stat[:difficulties][:medium][:achieve_vs_ave][:draw]
      %td= @stat[:difficulties][:medium][:miss_vs_ave][:draw]
      %td= @stat[:difficulties][:hard][:achieve_vs_ave][:draw]
      %td= @stat[:difficulties][:hard][:miss_vs_ave][:draw]
      %td= @stat[:difficulties].map {|diff, v| v[:achieve_vs_ave][:draw]}.inject(:+)
      %td= @stat[:difficulties].map {|diff, v| v[:miss_vs_ave][:draw]}.inject(:+)
    %tr.vs_ave_lose
      %td Lose
      %td= @stat[:difficulties][:basic][:achieve_vs_ave][:lose]
      %td= @stat[:difficulties][:basic][:miss_vs_ave][:lose]
      %td= @stat[:difficulties][:medium][:achieve_vs_ave][:lose]
      %td= @stat[:difficulties][:medium][:miss_vs_ave][:lose]
      %td= @stat[:difficulties][:hard][:achieve_vs_ave][:lose]
      %td= @stat[:difficulties][:hard][:miss_vs_ave][:lose]
      %td= @stat[:difficulties].map {|diff, v| v[:achieve_vs_ave][:lose]}.inject(:+)
      %td= @stat[:difficulties].map {|diff, v| v[:miss_vs_ave][:lose]}.inject(:+)

%h3 平均スコア
%h4 難易度別
%table#diff_ave_data
  - miss_format = '%.1f'
  - ar_format = '%.2f%%'
  %colgroup{span: 1}
  %colgroup.basic{span: 1}
  %colgroup.medium{span: 1}
  %colgroup.hard{span: 1}
  %thead
    %tr
      %th 
      %th BASIC
      %th MEDIUM
      %th HARD
      %th Total
  %tbody
    %tr
      %td Played
      - @stat[:difficulties].each do |diff, v|
        %td== #{v[:played]} / #{@music_stat[:total_musics]}
      %td== #{@stat[:total_played]} / #{@music_stat[:total_tunes]}
    %tr
      %td AR
      - @stat[:difficulties].each do |diff, v|
        %td
          - if v[:played] == 0
            .not_available N/A
          - else
            .played_only= format(ar_format, v[:achieve_ave])
            .all_ave== (#{format(ar_format, v[:achieve_ave_all])})
      %td
        .played_only= format(ar_format, @stat[:achieve_ave])
        .all_ave== (#{format(ar_format, @stat[:achieve_ave_all])})
    %tr
      %td MISS
      - @stat[:difficulties].each do |diff, v|
        %td
          - if v[:played] == 0
            .not_available N/A
          - else
            .played_only= format(miss_format, v[:miss_ave])
            .all_ave== (#{format(miss_format, v[:miss_ave_all])})
      %td
        .played_only= format(miss_format, @stat[:miss_ave])
        .all_ave== (#{format(miss_format, @stat[:miss_ave_all])})

%h4 レベル別
%table#level_ave_data
  %thead
    %tr
      %th
      %th 1
      %th 2
      %th 3
      %th 4
      %th 5
      %th 6
      %th 7
      %th 8
      %th 9
      %th 10
      %th 10+
  %tbody
    %tr
      %td Played
      - @stat[:levels].each do |lv, v|
        %td== #{v[:played]} / #{@music_stat[:levels][lv]}
    %tr
      %td AR
      - @stat[:levels].each do |lv, v|
        %td
          - if v[:played] == 0
            .not_available N/A
          - else
            .played_only= format(ar_format, v[:achieve_ave])
            .all_ave== (#{format(ar_format, v[:achieve_ave_all])})
    %tr
      %td MISS
      - @stat[:levels].each do |lv, v|
        %td
          - if v[:played] == 0
            .not_available N/A
          - else
            .played_only= format(miss_format, v[:miss_ave])
            .all_ave== (#{format(miss_format, v[:miss_ave_all])})

%h3 スコアデータ
%h4 絞り込み
%form#filter_form
  %button{type: 'button', name: 'filter_all_reset'} 全絞り込み条件解除（すべて表示）
  %button{type: 'button', name: 'filter_all_reverse'} 全絞り込み条件反転
  %div#filter_check
    %div.music_attr
      %fieldset
        %legend 難易度
        %button{type: 'button', name: 'filter_diff_reset'} 絞り込み解除
        %button{type: 'button', name: 'filter_diff_reverse'} 反転
        %br
        - ['basic', 'medium', 'hard'].each do |d|
          %input{type: 'checkbox', name: d}= d.upcase
      %fieldset
        %legend レベル
        %button{type: 'button', name: 'filter_level_reset'} 絞り込み解除
        %button{type: 'button', name: 'filter_level_reverse'} 反転
        %br
        - (1..10).each do |lv|
          %input{type: 'checkbox', name: 'lv_' + lv.to_s}= lv
        %input{type: 'checkbox', name: 'lv_11'} 10+
    %div.score_attr
      %fieldset
        %legend Rank
        %button{type: 'button', name: 'filter_rank_reset'} 絞り込み解除
        %button{type: 'button', name: 'filter_rank_reverse'} 反転
        %br
        - %w(c b a aa aaa).each do |rank|
          %input{type: 'checkbox', name: 'rank_' + rank}= rank.upcase
        %input{type: 'checkbox', name: 'rank_aaaplus'} AAA+
      %fieldset
        %legend ミスカウント
        %button{type: 'button', name: 'filter_miss_reset'} 絞り込み解除
        %button{type: 'button', name: 'filter_miss_reverse'} 反転
        %br
        %input{type: 'checkbox', name: 'miss_fc'} FC
        %input{type: 'checkbox', name: 'miss_1'} 1
        %input{type: 'checkbox', name: 'miss_2'} 2
        %input{type: 'checkbox', name: 'miss_3'} 3-9
        %input{type: 'checkbox', name: 'miss_10'} 10-19
        %input{type: 'checkbox', name: 'miss_20'} 20

%p 各列のヘッダをクリックすると、その列でソートできます。現在ソートしている列をクリックすると、ソート順を切り替えます。
%table#score_data
  %colgroup.music_name{span: 1}
  %colgroup.basic{span: 4}
  %colgroup.medium{span: 4}
  %colgroup.hard{span: 4}
  %thead
    %tr
      %th.sort_header{'data-colname' => 'name', rowspan: 2} 楽曲名
      %th{colspan: 4} BASIC
      %th{colspan: 4} MEDIUM
      %th{colspan: 4} HARD
    %tr
      - diff = ['basic', 'medium', 'hard']
      - cols = {'Lv' => 'lv', 'AR' => 'achieve', 'Miss' => 'miss', 'Rank' => 'rank'}
      - diff.each do |d|
        - cols.each do |name, sortkey|
          %th.sort_header{'data-difficulty' => d, 'data-colname' => sortkey}= name
  %tbody
