%h1 登録の確認
%p
  以下の内容で登録します。確認の上[登録]ボタンをクリックしてください。
%p
  30分以内に登録が行われない場合は送信された内容が無効になります。その際は再度登録フォームより登録をお願いします。
%form{action: '/registered', method: 'POST'}
  %input{type: 'hidden', name: 'session', value: @session}
  %input{type: 'submit', value: '登録'}
%h2 プロフィール
%table
  %tbody
    %tr
      %td ID
      %td= @prof[:id]
    %tr
      %td 通り名
      %td= @prof[:pseudonym]
    %tr
      %td プレイヤー名
      %td= @prof[:name]
    %tr
      %td コメント
      %td= @prof[:comment]
    - if @prof[:team]
      %tr
        %td チームID
        %td= @prof[:team][:id]
      %tr
        %td チーム名
        %td= @prof[:team][:name]
    - else
      %tr
        %td チーム
        %td 所属なし
    %tr
      %td プレー数
      %td= @prof[:play_count]
    %tr
      %td 総スタンプ数
      %td= @prof[:stamp]
    %tr
      %td 総おにぎり数
      %td= @prof[:onigiri]
    %tr
      %td 最終プレー日時
      %td= @prof[:last_play_date]
    %tr
      %td 最終プレー店舗
      %td= @prof[:last_play_shop]

%h2 楽曲データ
%h3 凡例
%table
  %tbody
    %tr
      %td.updated{style: 'width: 2em'}
      %td 前回登録スコアより更新
    %tr
      %td.new_play{style: 'width: 2em'}
      %td 新規（前回登録時スコアなし）
%p 更新の判定はARとミスカウントそれぞれに行われます。
- if @new_musics && @new_musics.any?
  %h3 新規楽曲
  %p アップロードされたデータから、データベースにない曲が見つかりました。曲名、レベルを確認してください。新しい曲データはこのデータが送信されたときに自動的に登録されます。この楽曲の登録日（楽曲追加日）はこのデータが送信された日付になります。もしこのデータの送信日と楽曲追加日が異なる場合は、データを登録した上で中の人まで連絡してください。
  %p== 楽曲追加日: #{Time.now.strftime('%Y-%m-%d')}
  %table#new_musics
    %colgroup.music_name{span: 1}
    %colgroup.basic{span: 1}
    %colgroup.medium{span: 1}
    %colgroup.hard{span: 1}
    %thead
      %tr
        %th{rowspan: 2} 楽曲名
        %th{colspan: 3} レベル
      %tr
        %th BASIC
        %th MEDIUM
        %th HARD
    %tbody
      - @new_musics.each do |item|
        %tr
          %td= item[:name]
          - [:basic, :medium, :hard].each do |d|
            - if item[:scores][d][:lv] == 11
              %td 10+
            - else
              %td= item[:scores][d][:lv]

%h3 データ
%table#score_data
  %colgroup.music_name{span: 1}
  %colgroup.basic{span: 2}
  %colgroup.medium{span: 2}
  %colgroup.hard{span: 2}
  %thead
    %tr
      %th{rowspan: 2} 楽曲名
      %th{colspan: 2} BASIC
      %th{colspan: 2} MEDIUM
      %th{colspan: 2} HARD
    %tr
      %th AR
      %th.miss_header MISS
      %th AR
      %th.miss_header MISS
      %th AR
      %th.miss_header MISS
  %tbody
    - @music.each do |item|
      %tr
        %td= item[:name]
        - item[:scores].each do |k, v|
          - if v[:achieve]
            - case v[:is_achieve_updated]
            - when :true
              %td.updated== #{v[:achieve]}%
            - when :false
              %td== #{v[:achieve]}%
            - when :new_play
              %td.new_play== #{v[:achieve]}%
            - case v[:is_miss_updated]
            - when :true
              - if v[:miss] == 0
                %td.updated FC
              - else
                %td.updated= v[:miss]
            - when :false
              - if v[:miss] == 0
                %td FC
              - else
                %td= v[:miss]
            - when :new_play
              - if v[:miss] == 0
                %td.new_play FC
              - else
                %td.new_play= v[:miss]
          - else
            %td.noplay{colspan:2} NO PLAY
