%h1== チーム 《#{@team.name}》

%dl
  %dt ID
  %dd= @team.id
  %dt メンバー数
  %dd= @members.count

%h2 メンバー一覧
%p （ID順）
%table
  %thead
    %th プレイヤーID
    %th プレイヤー名
    %th コメント
  %tbody
    - @members.each do |member|
      %tr
        %td
          %a{href: url("/player/#{member.id}")}= member.id.to_s.rjust(6, '0')
        %td= member.name
        %td= member.comment
