#home-banner
  .row#home-title
    %h1.small-12.columns
      Refixative
      %sup{style: 'font-size: 50%;'} plus
  .row#home-title-sub.hide-for-small-only
    %h1.small-12.columns
      %small Score Tool for REFLEC BEAT colette
  .row
    .small-12.medium-6.medium-centered.columns
      %div{style: 'text-align: center;'}
        = link_to t('view.home.score_reg'), '/'
        -# = link_to t('view.home.score_reg') , {controller: 'scores', action: 'register'}, class: 'large success button'
.row
  .small-12.columns
    %h1= t('view.home.about_head')
    %p= t('view.home.about')
.row
  .small-12.columns
    %h1= t('view.home.info_head')
    %p placeholder...
.row
  .small-12.columns
    %h1= t('view.home.how_to_head')
    .row
      .small-12.columns
        %h2= t('view.home.how_to.reg_head')
        %p= t('view.home.how_to.reg')
        %p
          = t('view.home.how_to.reg2')
          %strong= t('view.home.how_to.reg2_important')
.row
  .small-12.large-6.columns
    #info_tweets
      <a class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=%23Refixative" data-widget-id="280103969865465856">#Refixative に関するツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>