.header
  .row
    %h1
      = t('.upload_score')
      %small= t('.confirm')

.content
  - if is_new_player
    .row
      %p= t('.new_player')

  .row
    %p= t('.check_your_data')
    %p.notice= t('.expiration_notice')
  .row
    = form_tag register_players_path do
      = hidden_field_tag :register_token, @register_token
      = submit_tag t('.confirm_button'), class: 'button'

  .row
    %h2= t('.profile')
    %dl
      %dt ID
      %dd= profile[:id]
      %dt= t('.pseudonym')
      %dd= profile[:pseudonym]
      %dt= t('.player_name')
      %dd= profile[:name]
      %dt= t('.level')
      %dd= profile[:level]
      %dt= t('.grade')
      %dd= profile[:grade].presence || 'N/A'
      %dt= t('.comment')
      %dd= profile[:comment]
      %dt= t('.play_count')
      %dd= profile[:play_count]
      %dt= t('.refle')
      %dd #{profile[:refle]} Rf.
      %dt= t('.total_point')
      %dd #{profile[:total_point]} pts.
      %dt= t('.last_play_place')
      %dd= profile[:last_play_place]
      %dt= t('.last_play_datetime')
      %dd= profile[:last_play_datetime]

  .row
    %h2= t('.music_data')
    .row
      - if new_plays.present?
        %div{class: (updates.present? ? 'large-6 columns' : 'large-12 columns' )}
          %h3
            = t('.new_plays')
            %small= t('.new_plays_count', count: new_plays.size)
          %table
            %thead
              %tr
                %th= t('.music_name')
                %th= t('.difficulty')
                %th AR
                %th Miss
            %tbody
              - new_plays.each do |x|
                %tr
                  %td= x[:music].name
                  %td= x[:difficulty]
                  %td #{x[:score][:achievement]} %
                  %td
                    - if x[:score][:miss_count] == 0
                      FC
                    - else
                      = x[:score][:miss_count]
      - if updates.present?
        %div{class: (new_plays.present? ? 'large-6 columns' : 'large-12 columns' )}
          %h3
            = t('.updates')
            %small= t('.updates_count', count: updates.size)
          %table
            %thead
              %tr
                %th= t('.music_name')
                %th= t('.difficulty')
                %th AR
                %th Miss
            %body
              - updates.each do |old, new|
                %tr
                  %td= old.music.name
                  %td= old.difficulty
                  - if old.achievement != new[:achievement]
                    %td.updated
                      #{old.achievement}% -> #{new[:achievement]}%
                      (+#{(new[:achievement] - old.achievement).round(1)}%)
                  - else
                    %td old.achievement
                  - if old.miss_count != new[:miss_count]
                    %td.updated
                      #{old.miss_count} -> #{new[:miss_count]}
                      (-#{old.miss_count - new[:miss_count]})
                  - else
                    %td= old.miss_count
    %table
      %colgroup.music_name{span: 1}
      %colgroup.basic{span: 2}
      %colgroup.medium{span: 2}
      %colgroup.hard{span: 2}
      %colgroup.special{span: 2}
      %thead
        %tr
          %th{rowspan: 2}= t('.music_name')
          %th{colspan: 2} BASIC
          %th{colspan: 2} MEDIUM
          %th{colspan: 2} HARD
          %th{colspan: 2} SPECIAL
        %tr
          %th AR
          %th MISS
          %th AR
          %th MISS
          %th AR
          %th MISS
          %th AR
          %th MISS
      %tbody
        - musics.each do |music|
          %tr
            %td= music[:name]
            - music[:scores].each do |_, score|
              - if score[:achievement]
                - case score[:is_achievement_updated]
                - when :true
                  %td.updated #{score[:achievement]}%
                - when :new_play
                  %td.new_play #{score[:achievement]}%
                - else
                  %td #{score[:achievement]}%
                - case score[:is_miss_count_updated]
                - when :true
                  - if score[:miss_count] == 0
                    %td.updated FC
                  - else
                    %td.updated= score[:miss_count]
                - when :new_play
                  - if score[:miss_count] == 0
                    %td.new_play FC
                  - else
                    %td.new_play= score[:miss_count]
                - else
                  - if score[:miss_count] == 0
                    %td FC
                  - else
                    %td= score[:miss_count]
              - else
                %td.noplay{colspan: 2} NO PLAY