!!! 5
%html
  %head
    - if @title.present?
      %title #{@title} | Refixative
    - else
      %title Refixative
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.top-bar{'data-topbar' => true}
      %ul.title-area
        %li.name
          %h1
            %a{href: '#'} Refixative
        %li.toggle-topbar.menu-icon
          %a{href: '#'} Menu
      %section.top-bar-section
        %ul.right
          %li
            %a{href: '#'} Submit
          %li
            %a{href: '#'} Average

    - if flash.any?
      .flash-wrapper
        .flash
          - [:alert, :notice].each do |klass|
            - if flash[klass].present?
              %div{class: klass}
                = flash[klass]

    #main-container
      != yield

    %footer
      .row
        #footer-info.small-6.columns
          query at #{Time.now}
        #footer-credit.small-6.columns.text-right
          %p
            Mei Akizuru - 
            %a{href: 'https://twitter.com/maytheplic'} @maytheplic
          %p
            %a{href: 'https://github.com/mayth/refixative'} source code on github
