!!! 5
%html
  %head
    - if @title.present?
      %title #{@title} | Refixative
    - else
      %title Refixative
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{id: @page_id.presence || "#{controller.kind_of?(Admin::ApplicationController) ? 'admin_' : ''}#{controller.controller_name}_#{controller.action_name}"}
    %nav.top-bar{'data-topbar' => true}
      %ul.title-area
        %li.name
          %h1= link_to "Refixative groovin'!!", root_path
        %li.toggle-topbar.menu-icon
          %a{href: '#'} Menu
      %section.top-bar-section
        - if admin_signed_in?
          %ul.left
            %li= link_to 'Admin', admin_root_path
            %li= link_to 'Sign out', destroy_admin_session_path, method: :delete
        %ul.right
          %li= link_to t('dictionary.upload'), upload_players_path
          %li
            %a{href: '#'}= t('dictionary.average')

    #main-container
      - if flash.any?
        .flash-wrapper
          .flash
            - [:alert, :notice].each do |klass|
              - if flash[klass].present?
                %div{class: klass}
                  = flash[klass]
      != yield

    %footer
      .row
        #footer-info.small-6.columns
          query at #{Time.now}
        #footer-credit.small-6.columns.text-right
          %p
            #{t('dictionary.author')} (<a href="https://twitter.com/maytheplic">@maytheplic</a>)
          %p
            %a{href: 'https://github.com/mayth/refixative'} source code on github
